/* 
--FOR USE WITH PAGE ANIMATIONS--
.page-wrapper {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
}

.fade-start {
  opacity: 0;
  z-index: 1;
}

.fade-start.fade-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
} */

#title {
  font-size: 60px;
  color: #262626;
}

h1 {
  color: #262626;
}

h2 {
  color: #006494;
}

.page-text {
  font-size: large;
  color: #262626;
}

.navbar {
  color: #ffffff;
}

.navbar-brand {
  color: #262626;
}

.nav-link {
  color: #262626;
}