$primary: rgb(3, 37, 78);
$secondary: #3c4647;
$success: #1c9711;
$info: #034d6b;
$warning: #ceb007;
$danger: #bb1010;
$light: #f5efed;
$dark: #0f0a0a;
$white: #f7f7f7;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Sen&display=swap');

* {
    font-family: 'Sen', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p,.page-content,blockquote {
    font-family: 'Noto Serif', serif;
    font-size: calc(16px + .5vw);
}

blockquote {
    border-left: solid 1.5px;
    padding-left: 10px;
    font-style: italic;
}

b,ol,ul,li,i, span {
    background-color: inherit !important;
    font-family: inherit;
    font-size: inherit;
}

.topic-content a {
    font-weight: bold;
    color: #3772FF;
    font-family: inherit;
    &:hover {
        color: #DF2935;
        text-decoration: none;
    }
}

h3 {
    font-family: 'sen', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: calc(28px + .5vw);
}

h2 {
    font-size: calc(34px + .5vw);
}

.nav-link {
    &:hover {
        text-decoration: underline;
    }
}

.arrowDown {
    transform: rotate(180deg);
    transition: transform 250ms ease-in-out;
}

.arrowUp {
    transform: rotate(0deg);
    transition: transform 250ms ease-in-out;
}

#footer {
    font-size: calc(14px + .5vw);
    font-family: 'sen', sans-serif !important;
    margin-top: 10px;
}

#footer:hover {
    text-decoration: underline;
    z-index: 99;
}

#experiment-toggle {
    &:hover {
        text-decoration: none;
    }
}

// @keyframes intro {
//     0% {
//         width: 0%;
//     }
//     100% {
//         width: 100%;
//     }
// }

// #title-colorbox {
//     z-index: -1;
//     animation: intro 2000ms ease-in-out 1 forwards;
// }

#title {
    font-size: calc(52px + .5vw);
    color: $white;
    
//     &:after {
//         position: absolute;
//         content: "Welcome to the BYU Survival Guide!";
//         color: white;
//         mix-blend-mode: screen;
//     }
}