$primary: rgb(3, 37, 78);
$secondary: #3c4647;
$success: #1c9711;
$info: #3772FF;
$warning: #ceb007;
$danger: #bb1010;
$light: #f5efed;
$dark: #0f0a0a;
$white: #f7f7f7;
$blue-grey: #9fabc2;

//$list-group-border-radius: 0px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Sen&display=swap');

* {
    font-family: 'Sen', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p,.page-content,blockquote {
    font-family: 'Noto Serif', serif;
    font-size: calc(14px + .5vw);
}

.fade-transition-wrapper > *, ol {
    animation: fadein ease-in 300ms;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

blockquote {
    border-left: solid 1.5px;
    padding-left: 10px;
    font-style: italic;
}

b,ol,ul,li,i, span {
    background-color: inherit !important;
    font-family: inherit;
    font-size: inherit;
}

li ul {
    list-style: disc;
}

.topic-content a {
    font-weight: bold;
    color: $info;
    font-family: inherit;
    &:hover {
        color: #DF2935;
        text-decoration: none;
    }
}

h5 {
    font-size: calc(14px + .5vw);
}

h4 {
    font-size: calc(16px + .5vw);
}

h3 {
    font-family: 'sen', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: calc(26px + .5vw);
}

h2 {
    font-size: calc(32px + .5vw);
}

.navbar-brand {
    font-size: calc(18px + .5vw);
}

.nav-link {
    font-size: calc(14px + .5vw);
    &:hover {
        text-decoration: underline;
    }
}

.arrowDown {
    transform: rotate(180deg);
    transition: transform 250ms ease-in-out;
}

.arrowUp {
    transform: rotate(0deg);
    transition: transform 250ms ease-in-out;
}

.border-0 {
    border-radius: 0px;
    padding: 0px;
}

.about-card {
    background-color: #f1f1f1;
    border: solid $blue-grey 4px;
    //box-shadow: $blue-grey 2px 2px 6px;
}

#content-selector {
    position: absolute;
    top: -30rem;
    overflow: show;
    z-index: 5;

    &.show {
        top: 0px;
    }
    transition: top 250ms ease-in-out;
}

#banner-wrapper {
    position: relative;
    overflow: hidden;
}

#cover {
    position: relative;
    z-index: 10;
}

#callings {
    min-height: 13em;
}

#supportContentBanner {
    & #left {
        border-radius: $list-group-border-radius 0px 0px 0px;
    }
    & #right {
        border-radius: 0px $list-group-border-radius 0px 0px !important;
    }
    & #selfCareButton {
        border-radius: 0px $list-group-border-radius 0px 0px !important;
        position: absolute;
        z-index: 30;
    }
}

.list-group-item {
    &:first-child {
        @include border-top-radius(0px);
    }

    &:last-child {
        @include border-bottom-radius($list-group-border-radius);
    }
}

.last-item {
    @include border-bottom-radius($list-group-border-radius);
}

.first-item {
    @include border-top-radius($list-group-border-radius);
}

#footer {
    font-size: calc(12px + .5vw);
    font-family: 'sen', sans-serif !important;
    margin-top: 10px;
}

#footer:hover {
    text-decoration: underline;
    z-index: 99;
}

#experiment-toggle {
    &:hover {
        text-decoration: none;
    }
}

// @keyframes intro {
//     0% {
//         width: 0%;
//     }
//     100% {
//         width: 100%;
//     }
// }

#title-colorbox {
    width: 100%;
}

#title {
    font-size: calc(50px + .5vw);
    color: $white;
    
//     &:after {
//         position: absolute;
//         content: "Welcome to the BYU Survival Guide!";
//         color: white;
//         mix-blend-mode: screen;
//     }
}

.bg-blue-grey {
    background-color: $blue-grey;
}